@import url("style.css");

.dashboard .recent-sales .table thead th,
.table-borderless>:not(caption)>*>*,
.dashboard .top-selling .table thead th,
.dashboard .table thead tr th,
.dashboard .table tbody tr td {
  border-width: 1px !important;
  border-style: solid !important;
  border-color: var(--bs-table-border-color) !important;
}

.table.datatable  thead tr th,
.table.datatable  tbody tr td {
  border-width: 1px !important;
  border-style: solid !important;
  border-color: var(--bs-table-border-color) !important;
}

.product-thumbnail img {
    border-radius: 5px;
    max-width: 100px;
    width: 100%;
}

.product-table thead th:last-child button.datatable-sorter {
    display: none;
}



@media only screen and (max-width: 900px) {
    .datatable-table {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

